extend layout 
block content 
  if username 
    strong= username
  else
    form(action='/trackName', method='get')
      label Please enter your name: 
        input(type='text', name='name')
      button(type='submit') Submit  
    script(src='index.js')    